.image-card {
  display: flex;
  justify-content: center;
  flex-grow: 4;
  width: 35%;
  height: 50%;
  border: 1px solid gray;
}

.image-card img {
  display: flex;
  width: 40%;
  aspect-ratio: 1 / 1;
}

.image-card img:hover {
  border: 1px solid green;
  transform: scale(1.1);
}