.image-card {
  display: flex;
  justify-content: center;
  flex-grow: 4;
  width: 35%;
  height: 50%;
  border: 1px solid gray;
}

.image-content-enabled {
  display: flex;
  width: 40%;
  aspect-ratio: 1 / 1;
}

.image-content-disabled {
  display: flex;
  width: 40%;
  aspect-ratio: 1 / 1;
}

.image-content-enabled:hover {
  border: 1px solid green;
  transform: scale(1.1);
}

@media screen and ((max-width: 800px) and (max-height: 1400px)) {
  .image-card {
    width: 45%;
  }

  .image-content-enabled {
    width: 50%;
  }
  
  .image-content-disabled {
    width: 50%;
  }
}